{% extends 'base.html' %}
{% load static %}

{% block section %}
 <h2>{{ object.nombre }}</h2>
 <hr>
{% endblock section %}
{% block maincontent %}  

<div>
 <table border="1px">
 <tr>
 
 <td><label>id</label></td>
 <td><label>cantidad</label></td>
 <td><label>precio</label></td>
 <td><label>fecha ingreso</label></td>
 
 <tr>
 <td> {{ object.id_producto }} </td>
 <td> {{ object.cantidad }} </td>
 <td> {{ object.precio }} </td>
 <td> {{ object.fecha_ingreso }} </td>
 </tr>
 
 </tr>
 </table>
 </div>
 <a href="{% url 'producto-update' object.id_producto %}">edit</a>
 <a href="{% url 'producto-delete' object.id_producto %}">delete</a​>
 {% endblock maincontent %}  